.contact {
  padding: 1rem 0;
  border-bottom: 1px solid #cecece;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.contact__name {
  font-weight: 600;
}

.contact__info {
  line-height: 1.5em;
}
